// _base.scss
@use 'variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-stack; 
  color: variables.$black;
  line-height: 1.6;
  background-color: variables.$white;
}