// _cards.scss
@use 'variables';
@use 'mixins';

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 2rem;

  &__item {
    padding: 1.5rem;
    background-color: variables.$primary-color;
    color: variables.$white;
    text-align: center;
    border-radius: 8px;

    &__icon {
      font-size: 2rem;
    }

    &__title {
      font-size: 1.25rem;
      margin-top: 0.5rem;
    }

    &__text {
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }

  @include mixins.respond-to(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mixins.respond-to(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}