// _slider.scss
.slider {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-top: 1rem;

  &__slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    &-active {
      display: block;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}